venv_nlp
jawiki-country.json
__pycache__
neko.txt
neko.txt.mecab
mecab-ipadic-neologd
.DS_Store
ai.ja.txt
readme.ai.ja.md
cabocha
news+aggregator
test.txt
train.txt
valid.txt
test.feature.txt
train.feature.txt
valid.feature.txt